.dv-sidebox {
    border-bottom: 1px solid #ddd;
}

.dv-sidebox h6 {
    padding: 8px 4px;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    line-height: 2;
}

.dv-catlist span {
    margin-left: 8px;
    font-size: 12px;
  }
  
  .dv-catlist,.dv-catlist a {
    font-size: 14px;
    color: #959595;
    font-weight: 400;
    transition: all ease 0.25s;
  }
  .dv-catlist a{
    display: block;
  }
  .dv-catlist:hover {
    color: #333;
    cursor: pointer;
  }


  .dv-cat-parent {
    color: #333 !important;
  }

  .cat-depth3 {
    /* border-right: 1px solid #eee !important; */
    font-size: 12px;
    padding: 0 10px 0 0 !important;
  
  }
  
  .cat-depth3:focus {
    border-color: #eb3333 !important;
  }
  .cat-depth3 a{
    font-size: 11px;
    border-right: 1px solid #eee !important;
    padding-right: 10px;
    line-height: 28px;
    display: block;
  }
  .cat-depth3 a.active {
    color: #eb3333 !important;
    border-color: #eb3333 !important;
  }
  


  @media (max-width: 575.98px) {

    .dv-catlist {
      border-bottom: 1px solid #eee !important;
    }
  
    .dv-catlist:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      margin: auto;
    }
  
  }


  